<header class="app-header">
  <div class="logo-container">
    <a routerLink="/" class="logo-link">
      <img src="assets/logo.svg" alt="Głodny? Logo" class="logo-image">
      <span class="logo-text">Głodny?</span>
    </a>
  </div>
  
  <p-menubar [model]="items" styleClass="header-menu">
    <ng-template pTemplate="start">
      <div class="mobile-logo">
        <img src="assets/logo.svg" alt="Głodny? Logo" height="40">
      </div>
    </ng-template>
    <ng-template pTemplate="end">
      <div class="user-section">
        <p-button icon="pi pi-user" styleClass="p-button-rounded p-button-text"></p-button>
      </div>
    </ng-template>
  </p-menubar>
</header>
